<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
<h4>Admin Area</h4>
 </div>

	<%= form_with do |form| %>

    <div class="row">
        <div class="col-md-20">
          <div class="form_container contact-form">
            <form action="">
            	
	<%= form.label :name %>
	<%= form.text_field :name %>



        <div>  	
	<%= form.label :password %>
	<%= form.password_field :password%><br>
</div>


<div class="btn_box">
	<button>
	Login
	 </button>
	</div>



</form>

</div>
        </div>
        </div>

        
<%end%>
</div>
        </div> 
</section>





